<!DOCTYPE html>

<html
    xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Lista Items</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" class="header"/>

        <div class="container">
            <h2 th:text="#{plantilla.titulo}">Nuestra Farmacia</h2>            
            <div class="row row-cols-3" th:if="${items != null and !items.empty}">
                <div class="card" th:each="item : ${items}" >

                    <div class="card-body">
                        <h5 class="card-title">[[${item.nombre}]]</h5>
                        <img th:src="@{${item.rutaimagen}}" width="120"/>
                        <h6 class="card-subtitle mb-2 text-muted text-end">[[${new java.text.DecimalFormat('¢#,##0.00').format(item.precio)}]]</h6>
                        <form>
                            <input type="hidden" name="texto" th:value="${item.itemid}"/>
                            <input type="hidden" name="texto" th:value="${item.cantidadtabla}"/>                           
                            <button class="btn btn-ligth"
                                    id="addCar"
                                    name="addCar"
                                    onclick="addCard(this.form)"
                                    type="button">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </form> 
                                               
                    </div>
                </div>                
            </div>
            <div th:if="${items == null or items.empty}"  th:text="#{articulo.no_mostrar}">
                No tenemos lista de articulos que mostrar...
            </div>
        </div>


        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <h2>Listado de Items</h2>
            <a th:href="@{/item/nuevo}">Nuevo Item</a>
            <table border="1">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>precio</th>
                        <th>cantidad</th>
                        <th>categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td>[[${item.nombre}]]</td>
                        <td style="text-align: right">[[${#numbers.formatDecimal(item.precio,3,2)}]]</td>
                        <td>[[${item.cantidadtabla}]]</td>
                        <td>[[${item.categoria.nombre}]]</td>
                        <td><a th:href="@{/item/modificar/} + ${item.itemid}">Modificar</td>
                        <td><a th:href="@{/item/eliminar/} + ${item.itemid}">Eliminar</td>
                    </tr>
                </tbody>
            </table>
        </div>  

        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
