<!DOCTYPE html>

<html
    xmlns:th="http://wwww.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <section th:fragment="listaItems" id="items">
        <div class="container">
            <div class="row row-cols-2">         
                <h2 class="inline" th:text="#{plantilla.titulo}">Nuestra Farmacia</h2>  
                <div id="resultsBlock">
                </div>
            </div>

            <div class="row row-cols-3" th:if="${items != null and !items.empty}">
                <div class="card" th:each="item : ${items}" >
                    <div class="card-body">
                        <h5 class="card-title">[[${item.nombre}]]</h5>

                        <figure>
                            <img th:src="@{${item.rutaimagen}}" width="120"/>
                            <figcaption>
                                [[${new java.text.DecimalFormat('¢#,##0.00').format(item.precio)}]]
                            </figcaption>
                        </figure><!-- comment -->

                        <form>
                            <input type="hidden" name="texto" th:value="${item.itemid}"/>
                            <input type="hidden" name="texto" th:value="${item.cantidadtabla}"/>
                            <button class="btn btn-ligth"
                                    id="addCar"
                                    name="addCar"
                                    onclick="addCard(this.form)"
                                    type="button">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </form> 
                                  
                    </div>
                </div>                
            </div>
            <div th:if="${items == null or items.empty}"  th:text="#{articulo.no_mostrar}">
               
            </div>
        </div>
        </section>

    <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaCarrito)}">
        <form action="/carrito/lista">
            <button
                type="submit"
                class="btn btn-primary">
                <i class="fas fa-cart-plus"></i>[[#{carrito.verCarrito}]] [[${listaTotal}]]
            </button>
        </form>
    </div>



    <section th:fragment="listadoCarrito" id="items">  
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{plantilla.titulo}]]</h4>
                        </div>
                        <div th:if="${items != null and !items.empty}">
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th> [[#item.nombre}]]</th>
                                        <th> [[#item.precio}]] </th>
                                        <th> [[#carrito.cantidad}]]</th>
                                        <th> [[#carrito.total}]]</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item, contador : ${items}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${item.nombre}]]</td>
                                        
                                        <td class="text-end">[[${new java.text.DecimalFormat('$#,##0.00').format(item.precio)}]]</td>
                                        <td class="text-center">[[${new java.text.DecimalFormat('# ###.##0').format(item.cantidad)}]]</td>
                                        <td class="text-center">[[${new java.text.DecimalFormat('$# ###,##0.00').format(item.cantidad*item.precio)}]]</td>
                                        <td>
                                            <a th:href="@{/carrito/eliminar/}+${item.itemid}"
                                               class="btn btn-danger">
                                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                            </a>
                                        </td>
                                        <td>
                                            <a th:href="@{/carrito/modificar/}+${item.itemid}"
                                               class="btn btn-success">
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${items == null or items.empty}">
                            <span th:text="#{carrito.no_mostrar}">Lista vacía</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white mb-3">
                        <div class="card-body">
                            <h3>[[#{carrito.totalCompra}]]</h3>
                            <h4 class="fs-4">
                                [[${new java.text.DecimalFormat('$#,##0.00').format(carritoTotal)}]]
                            </h4>
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                          <a th:href="@{/}"
                             class="btn btn-success">
                              <i class="fas fa-reply"></i>[[#{carrito.seguirComprando}]]
                          </a>
                        </div>
                    </div>
                    <div class="card text-center bg-info text-white mb-3">
                        <div class="card-body">
                          <a th:href="@{/facturar/carrito}"
                             class="btn btn-info">
                              <i class="fas fa-forward"></i>[[#{carrito.facturar}]]
                          </a>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </section>





    <footer th:replace="layout/plantilla :: footer"/>
</body>
</html>
