<!DOCTYPE html>

<html
    xmlns:th="http://wwww.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" class="header"/>
        <section th:replace="carrito/fragmentosCarrito :: listadoCarrito"/>     
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
